{%extends "basic/base.html"%}

{%block title%}create{%endblock%}

{%block page_content%}
<div class="d-flex flex-column align-items-center">
    <h1>Create Blog</h1>
    <br>
    <form  method="POST" >
        {{form.hidden_tag()}} 
        <!-- ^this is used to generate CSRF token -->
         {{form.title.label}}
         {{form.title(class="form-control")}}
         <br>
         {{form.description.label}}
         {{form.description(class="form-control")}}
         <br>
         {{form.submit(class="btn btn-dark")}}
    </form>
</div>
{%endblock%}